- content_for :head do
  = stylesheet_link_tag 'gift/products/index', media: 'all'
- if @banners.present?
  ul#slider style="max-height: 110px;"
    - @banners.each do |banner|
      li
        a href="#{ banner['url'].strip.size > 0 ? banner['url'].strip : 'javascript: void(0);' }"
          img src="#{ banner['image'] }" style="height: 110px;"
div style="clear: both;"
- if @products.present?
  div.icon-list style="margin-top: 5px;"
    ul
      - @products.each do |p|
        li
          a href="/gift/products/brand?which_brand=#{ @product_icons[p["title"]] }"
            i
              = image_tag "#{ @product_icons[p["title"]] }.jpg"
            span = p["title"]
  - @products.each do |product|
    div.list-nav
      a href="/gift/products/brand?which_brand=#{ @product_icons[product["title"]] }" = "#{ product["title"] }"
    div.list
      ul
        - (product["products"] || []).each do |data|
          li class="#{ 'no-more' if data.items_unsold_count <= 0 }" data-href="/gift/products/#{ data.id }"
            a href="/gift/products/#{ data.id }"
              span class="img"
                = image_tag "product_loading.jpg", class: "scrollLoading", data: { url: "#{ image_domain }#{ data.major_pic }.m640.jpg" }, style: "background: none;"
              h2 = data.name
              p = "￥#{ number_with_delimiter data.discount }"
= render '/shared/gift_code'
javascript:
  function doTouchSlide(o) {
    return $("#slider li").css({
        width: o
    }).find("img").css({
        width: o
    }),
    new TouchSlider("slider", {
      duration: 800,
      interval: 2e3,
      direction: 0,
      autoplay: !0,
      align: "center",
      mousewheel: !1,
      mouse: !0,
      fullsize: !1
    });
  };
  $(function(){
    // 轮播图
    (function(){
      if($("#slider li").length > 0){
        var o = $('body').width();
        var n = doTouchSlide(o);
        $("#slider").on("focus", "input", function() {
          n.pause();
        }
        ).on("blur", "input", function() {
          n.play();
        }
        ).on("click", "button", function() {}
        );
      };
    })();
    
    $(".list").on("click", ".no-more[data-href]", function(e){
      if($(this).data("href") != undefined && $(this).data("href") != ""){
        window.open($(this).data("href"), "_self");
      };
      e.preventDefault();
      return false;
    });
  });
  $(".scrollLoading").scrollLoading();
  $(".scrollLoading").on("error", function(){
    this.src = "#{ image_path 'product_loading.jpg' }";
  });