# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5b5c7e5c19d8cf91a95391e90b1f4862070f09dddd760e40bea9fd33f106cb72c9a45561ea7662a9b9495d137a126a2a1e7685f743900fd556c6cd1cffb19010

test:
  secret_key_base: a92ece0faf31902537f459e8ff59c69f570eb2d89f81d79107f8223e45c4c8c5adfff91f9e071a291af429cc93a8935be6d73d8639066ca8f0df4613ed62d55e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: e85463a7026f9840be66f1e0abb28c9045c2360422155d2e09cda8d83673c7c53cfbc91a18933c4c5b83d8fca48fb6536ddf839688c3f817910da199fe13407f